*{
    padding:0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar{
    background-color: rgb(11, 11, 18);
    position: fixed;
    width: 100%;
    z-index: 2 ;
}

ul {
    display: flex;
    width: 100%;    
}

a{
    color: white;
    text-decoration: none;
    margin: 20px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li{
    margin: 14px;
    z-index: 4;
}

li a{
    font-size: 18px;
}

li a:hover{
    text-decoration: underline;
    animation-name: a-hover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes a-hover {
    100%{
        color: yellow;
    }
}


.intro , .view-work{
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.intro span{
    color: yellow;
}

.intro{
    padding-top: 30vh;
}

.view-work{
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

.view-work a{
    border: solid white 2px;
    padding: 8px;
    display: flex;
    font-size: 20px;
}

.view-work a:hover {
    animation: view-hover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes view-hover{
    100%{
        background-color:rgba(130, 238, 250,0.2);
        border-radius: 8px;
    }

}

.view-work a:hover #arrow{
    animation-name: rotate-arrow;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes rotate-arrow {
    100%{
        transform: rotate(90deg);
    }
}

/* cover animated background starts here */

.back-ground{
    background-color: rgb(26, 5, 40);
    height: 100vh;
    position: relative;
}

.cover{
    rotate: 45deg;
    position: absolute;
    opacity: 0.3;
    background-color:aqua;
    width: 80px;
    height: 80px;
    top:-90px;
    left: 7%;
    animation-name: boom;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.cover2 {
    position: absolute;
    opacity: 0.15;
    background-color: aqua;
    width: 50px;
    height: 50px;
    top: -100px;
    left: 20%;
    animation-name: boom;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.cover3 {
    position: absolute;
    opacity: 0.24;
    background-color: aqua;
    width: 60px;
    height: 60px;
    top: -100px;
    left: 30%;
    animation-name: boom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.cover4 {
    position: absolute;
    opacity: 0.34;
    background-color: aqua;
    width: 20px;
    height: 20px;
    top: -100px;
    left: 44%;
    animation-name: boom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.cover5 {
    position: absolute;
    opacity: 0.11;
    background-color: aqua;
    width: 32px;
    height: 32px;
    top: -15px;
    left: 49%;
    animation-name: boom;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.cover6 {
    position: absolute;
    opacity: 0.3;
    background-color: aqua;
    width: 35px;
    height: 35px;
    top: -40px;
    left: 58%;
    animation-name: boom;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.cover7 {
    position: absolute;
    opacity: 0.41;
    background-color: aqua;
    width: 39px;
    height: 39px;
    top: -40px;
    left: 67%;
    animation-name: boom;
    animation-duration: 13s;
    animation-iteration-count: infinite;
}

.cover8 {
    position: absolute;
    opacity: 0.2;
    background-color: aqua;
    width: 65px;
    height: 65px;
    top: -70px;
    left: 78%;
    animation-name: boom;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.cover9 {
    position: absolute;
    opacity: 0.2;
    background-color: aqua;
    width: 48px;
    height: 48px;
    top: -50px;
    left: 88%;
    animation-name: boom;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.cover10 {
    position: absolute;
    opacity: 0.2;
    background-color: aqua;
    width: 18px;
    height: 18px;
    top: -40px;
    left: 98%;
    animation-name: boom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes boom {
    0% {
        top: -100px;
        transform: rotate(360deg);
    }
    50%{
        top: calc(100vh - 91.5px);
    }
    100%{
        animation-direction: reverse;
    }
}

/* second page starts from here */

.second{
    height: 100vh;
    background-color: rgb(214, 214, 214);
    /* margin-top: 20px; */
    position: relative;
}

.second h2{
    /* background-color: aquamarine; */
    text-align: center;
    padding-top: 70px;
    padding-bottom: 10px;
    font-size: 34px;
    color: rgb(76, 76, 76);
}

.line{
    height: 4px;
    width: 85px;
    background-color: rgb(76, 76, 76);
    margin: auto;
        position: relative;
        transform: translateX(500px);
        opacity: 0;
        transition: 1s all ease;
}

.line.active {
    transform: translateY(0);
    opacity: 1;
}

/* Projects page styling here */

.myProjects{
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}

.projects{
    display: flex;
    /* background-color: blue; */
    justify-content: center;
}

.projects div{
    height: 320px;
    min-width: 380px;
    background-color: aquamarine;
    /* margin: auto; */
    margin-top: 140px;
}

.p1 img{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

















/* project circles */

.skills{
    display: flex;
    margin-top: 100px;
}

.skills div{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    background-color: yellow;
    margin-top: 20%;
    margin: auto;
}

.fa-solid{
    font-size: 60px;
    margin: auto;
    padding: 40px;
    color: rgb(26, 5, 40);
}